name: Python unit tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      # Checkout to given branch
      - uses: actions/checkout@v2

      # Installing python and project dependencies
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Running project unit tests rom tests.py file
      - name: Run unit tests
        run: python -m unittest tests.py 
